
git config --local --type bool push.autoSetupRemote true 
# sets a Git configuration option that automatically creates upstream tracking branches when you push.




echo "Done direnv setup!"
# If you have direnv: error .envrc is blocked. Run `direnv allow` to approve its content  
# known to be Used from Hyd-london-philly-denver-suwanee
